<!DOCTYPE html>
<html>
<head>
    <title>助教宝 - 管理后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="baidu-site-verification" content="elXuCAMAW3"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index_style.css"/>
    <link rel="stylesheet" href="css/jquery-ui.css"/>
    <link rel="stylesheet" href="css/yp_style.css"/>
    <link rel="stylesheet" href="css/student.css"/>
    <link rel="stylesheet" href="css/jquery.tree-multiselect.min.css"/>
    <link rel="stylesheet" href="css/iconfont.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/student.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body style="background-color: #fff;" >
<div class="mainContainer">
    <div class="rightmain clearfix tplSettingDome signSetting" data-page="domesticRegister">
        <div class="app-framework-cpt">
            <div class="domestic-register-manager-cpt">
                <div class="tab-cpt">
                    <div class="tab-body-group-cpt">
                        <div class="tab-body-cpt tab-body-show">
                            <div class="sign-setting-cpt clearfix">
                                <div class="add-new-sign-cpt">
                                    <div>
                                        <input style="margin-left: 10px;" class="button button-middle  float-left"
                                               type="button" name="NewStudent" value="新生报名" id="NewStudent"/>
                                    </div>
                                </div>
                                <form class="AddStudent" title="新生报名" action="sms/servlet/AddSignatureServlet"
                                      id="AddStudent">
                                    <div style="float:left; width:140px; padding-top:20px; border:solid;"><a
                                            target="_blank" href="image/employee.png" id="employeeImageHref"> <img
                                            src="image/employee.png" id="employeeImage"
                                            style="width:140px; height:120px;"/> </a>
                                        <input type="button" value="上传头像" style="width:140px; " id="imageselect"/>
                                        <input style="display: none;" type="file" onchange="filechange(event)"/>
                                    </div>
                                    <div style="float:left; width:1030px;">
                                        <div style="float:left; width:100%; height:30px; padding-top:8px;margin-left:50px; background-color:#9CF;">
                                            <label id='studentBaseInfoTitle' style="font-size:14px; margin-left:10px;">基本信息</label>
                                        </div>
                                        <div style="float:left; width:70px; padding-top:20px;padding-left:50px;">
                                            <label id='studentNameTitle'>学员姓名:</label>
                                        </div>
                                        <div style="float:left;  padding-top:15px;">
                                            <input class="text-input-cpt" type="text" name="studentNameText"
                                                   placeholder="请输入学员姓名(必填)" value="" id="studentNameText"/>
                                        </div>
                                        <div style="float:left; width:70px; padding-top:20px;padding-left:30px;">
                                            <label id='studentPhoneTitle'>手机号码:</label>
                                        </div>
                                        <div style="float:left;  padding-top:15px;">
                                            <input class="text-input-cpt" type="text" name="studentPhoneText"
                                                   placeholder="请输入手机号码(如无手机可填父亲的手机号码)(必填)" value=""
                                                   id="studentPhoneText"/>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div style="float:left; width:70px; padding-top:20px;padding-left:50px;">
                                            <label id='studentIDTitle'>身份证</label>
                                        </div>
                                        <div style="float:left;  padding-top:15px;">
                                            <input class="text-input-cpt" type="text" name="studentIDText"
                                                   placeholder="请输入您的身份证(必填)" value="" id="studentIDText"/>
                                        </div>
                                        <div style="float:left; width:70px; padding-top:20px;padding-left:30px;">
                                            <label id='studentSexTitle'>性别:</label>
                                        </div>
                                        <div style="float:left;  padding-top:15px;">
                                            <input type="radio" name="sex" value="女" id="female">
                                            <label for='female'>女</label>
                                            </input>
                                            <input type="radio" name="sex" value="男" id="male">
                                            <label for='male'>男</label>
                                            </input>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div style="float:left; width:70px; padding-top:20px;padding-left:50px;">
                                            <label id='motherPhoneTitle'>母亲手机:</label>
                                        </div>
                                        <div style="float:left;  padding-top:15px;">
                                            <input class="text-input-cpt" type="text" name="motherPhoneText"
                                                   placeholder="请输入母亲的手机号码(必填)" value="" id="motherPhoneText"/>
                                        </div>
                                        <div style="float:left; width:70px; padding-top:20px;padding-left:30px;">
                                            <label id='residenceTitle'>住所:</label>
                                        </div>
                                        <div style="float:left;  padding-top:15px;">
                                            <input class="text-input-cpt" type="text" name="residenceText"
                                                   placeholder="请输入您的的住所(必填)" value="" id="residenceText"/>
                                        </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div style="float:left; width:70px; padding-top:20px;padding-left:50px;">
                                        <label id='birthdayTitle'>生日:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="birthdayText"
                                               placeholder="请输入生日(必填)" value="" id="birthdayText"/>
                                    </div>
                                    <div style="clear:both;"></div>

                                    <div style="float:left; width:100%; height:30px; padding-top:8px; margin-top:18px; background-color:#9CF;">
                                        <label id='employeeDetailedTitle' style="font-size:14px; margin-left:10px;">详细信息（选填）</label>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px;">
                                        <label id='fatherPhoneTitle'>父亲手机:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="fatherPhoneText"
                                               placeholder="请输入父亲的手机号码(选填)" value="" id="fatherPhoneText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:50px;">
                                        <label id='studentEmailTitle'>邮箱:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="studentEmailText"
                                               placeholder="请输入邮箱地址(选填)" value="" id="studentEmailText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:50px;">
                                        <label id='channelSourceTitle'>渠道来源:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <div style="position:relative; border:1px solid #cccccc; width:298px; height:26px;">
                                            <select name="channelSourceText"
                                                    style="position:absolute; clip:rect(2px 302px 28px 2px); margin:-2px; width:302px; height:31px; line-height:28px; background:#fff;"
                                                    id="channelSourceText">
                                                <option value="转介绍"> 转介绍</option>
                                                <option value="试听课"> 试听课</option>
                                                <option value="微信"> 微信</option>
                                                <option value="网站"> 网站</option>
                                                <option value="传单"> 传单</option>
                                                <option value="直接进店"> 直接进店</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div style="float:left; width:70px; padding-top:20px;">
                                        <label id='educationTitle'>在读学校:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <div style="position:relative; border:1px solid #cccccc; width:298px; height:26px;">
                                            <select name="educationText"
                                                    style="position:absolute; clip:rect(2px 302px 28px 2px); margin:-2px; width:302px; height:31px; line-height:28px; background:#fff;"
                                                    id="educationText">
                                                <option value="学龄前"> 学龄前</option>
                                                <option value="幼儿园"> 幼儿园</option>
                                                <option value="小学"> 小学</option>
                                                <option value="初中"> 初中</option>
                                                <option value="初中"> 大学</option>
                                                <option value="高中"> 高中</option>
                                                <option value="其他"> 其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:50px;">
                                        <label id='gradeTitle'>年级:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <div style="position:relative; border:1px solid #cccccc; width:298px; height:26px;">
                                            <select name="gradeText"
                                                    style="position:absolute; clip:rect(2px 302px 28px 2px); margin:-2px; width:302px; height:31px; line-height:28px; background:#fff;"
                                                    id="gradeText">
                                                <option value="一年级"> 一年级</option>
                                                <option value="二年级"> 二年级</option>
                                                <option value="三年级"> 三年级</option>
                                                <option value="四年级"> 四年级</option>
                                                <option value="五年级"> 五年级</option>
                                                <option value="六年级"> 六年级</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px;padding-left:50px;">
                                        <label id='hobbyTitle'>兴趣爱好:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="hobbyText" placeholder=""
                                               value="" id="hobbyText"/>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div style="float:left; width:70px; padding-top:20px;">
                                        <label id='nativePlaceTitle'>籍贯:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="nativePlaceText"
                                               placeholder="请输入籍贯所在地(选填)" value="" id="nativePlaceText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:50px;">
                                        <label id='nationTitle'>民族:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="nationText"
                                               placeholder="请输入您所属的民族(选填)" value="" id="nationText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:50px;">
                                        <label id='politicalStatusTitle'>政治面貌:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <div style="position:relative; border:1px solid #cccccc; width:298px; height:26px;">
                                            <select name="politicalStatusText"
                                                    style="position:absolute; clip:rect(2px 302px 28px 2px); margin:-2px; width:302px; height:31px; line-height:28px; background:#fff;"
                                                    id="politicalStatusText">
                                                <option value="群众"> 群众</option>
                                                <option value="党员"> 党员</option>
                                                <option value="预备党员"> 预备党员</option>
                                                <option value="团员"> 团员</option>
                                                <option value="其他"> 其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div style="float:left; width:70px; padding-top:20px;">
                                        <label id='weixinTitle'>微信:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="studentEmailText"
                                               placeholder="请输入微信号" value="" id="weixinText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px;">
                                        <label id='qqTitle'>QQ:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <input class="text-input-cpt" type="text" name="studentEmailText"
                                               placeholder="请输入QQ号" value="" id="qqText"/>
                                    </div>
                                    <div style="clear:both;"></div>
                                </form>

                                <div class="sign-list-cpt" style="min-width: 1200px;">
                                    <div class="block-title-cpt"> 学员一览</div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:10px;padding-bottom:10px;">
                                        <label id='studentNameForSearchTitle'>学员姓名:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px; padding-bottom:30px;">
                                        <input class="text-input-cpt" type="text" name="studentNameForSearchText"
                                               placeholder="" value="" id="studentNameForSearchText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:20px;padding-bottom:10px;">
                                        <label id='studentPhoneForSearchTitle'>手机号码:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px; padding-bottom:30px;">
                                        <input class="text-input-cpt" type="text" name="employeePhoneForSearchText"
                                               placeholder="" value="" id="studentPhoneForSearchText"/>
                                    </div>
                                    <div style="float:left; width:70px; padding-top:20px; padding-left:20px;">
                                        <label id='managementScopeForSearchTitle'>所属校区:</label>
                                    </div>
                                    <div style="float:left;  padding-top:15px;">
                                        <div style="position:relative; border:1px solid #cccccc; width:198px; height:26px;">
                                            <select name="managementScopeForSearchText"
                                                    style="position:absolute; clip:rect(2px 302px 28px 2px); margin:-2px; width:202px; height:31px; line-height:28px; background:#fff;"
                                                    id="managementScopeForSearchText">
                                                <option value="全部校区"> 全部校区</option>
                                                <option value="东校区"> 东校区</option>
                                                <option value="西校区"> 西校区</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div style="float:left;  padding-top:0px;padding-left:25px;">
                                        <input style="margin-left: 10px; margin-top: 10px;"
                                               class="button button-middle    float-left" type="button" name="search"
                                               value="查询" id="searchStudent"/>
                                    </div>
                                    <div class="recordList">
                                        <table class="yunmo" id="classrecordList">
                                            <thead>
                                            <tr>
                                                <th style="width:13%;">编号</th>
                                                <th style="width:13%;">学员姓名</th>
                                                <th style="width:13%;">联系电话</th>
                                                <th style="width:13%;">母亲电话</th>
                                                <th style="width:13%;">地址</th>
                                                <th style="width:12%;">邮箱</th>
                                                <th style="width:12%;">微信号</th>
                                                <th style="width:12%;">性别</th>
                                                <th style="width:12%;">生日</th>
                                                <th style="width:12%;">身份证</th>
                                                <th style="width:12%;">机构编码</th>
                                                <th style="width:12%;min-width:200px;text-align: center;">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="prod : ${data}">
                                                <td th:text="${prod.id}">a</td>
                                                <td th:text="${prod.name}">a</td>
                                                <td th:text="${prod.phone}">a</td>
                                                <td th:text="${prod.motherPhone}">a</td>
                                                <td th:text="${prod.address}">美术</td>
                                                <td th:text="${prod.email}">23</td>
                                                <td th:text="${prod.weixinhao}">2017/1/1</td>
                                                <td th:text="${prod.gender}">2</td>
                                                <td th:text="${prod.birthday}">ss</td>
                                                <td th:text="${prod.sfzCode}">ss</td>
                                                <td th:text="${prod.institution_code}">ss</td>
                                                <td style='text-align: center;'>
                                                    <button class="editButton icon iconfont icon-edit">编辑</button>
                                                    <button class="deleteButton icon iconfont icon-delete">删除</button>
                                                    <button class="detailButton icon iconfont icon-viewlist">详情</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.tree-multiselect.min.js"></script>
<script src="js/doT.js"></script>
</body>
</html>