@charset "utf-8";
/* CSS Document */
#employeeNameText,
#employeePhoneText,
#employeeAgeText,
#schoolTypeText,
#employeeIDText,
#employeeEmailText,
#employeeMarriedText,
#nativePlaceText,
#nationText,
#politicalStatusText,
#academyText,
#majorText,
#educationText,
#laborRelationsText,
#personnelStatusText,
#laborContractText,
#remarksText,
#payrollCardText,
#payrollCardNoText,
#logonAcountText,
#logonAcountPasswordText {
    width: 300px;
}

#employeeNameForSearchText,
#employeePhoneForSearchText,
#managementScopeForSearchText {
    width: 150px;
}

.mainContainer {
    border: 2px solid #e4e4e4;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 100px 10px;
    min-height: 520px;
}