@charset "utf-8";
/* CSS Document */
.mainContainer {
     border: 2px solid #e4e4e4;
     margin: 10px 10px 10px 10px;
     padding: 10px 10px 100px 10px;
     min-height: 520px;
 }

.courseDetailDiv,.classRecordListDiv {
    border: 1px solid #e4e4e4;
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 20px 0px;
}


#studentNameText,
#studentPhoneText,
#studentIDText,
#motherPhoneText,
#residenceText,
#fatherPhoneText,
#studentEmailText,
#nativePlaceText,
#nationText,
#politicalStatusText,
#academyText,
#majorText,
#educationText {
    width: 300px;
}

.printClassCardBtn,.renewBtn,.buyTextbooksBtn,.classTransferBtn,.suspendClassesBtn,.refundBtn,.endClassesBtn,.placementClassesBtn{
    height: 20px;
    color: blue;
    background: transparent;
    display: inline-block;
    color: royalblue !important;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: -5px;
}

.courseDetailTitleDiv{
    float: left;
    padding-top:12px;
}

.courseDetailTitleBtnDiv{
    float: right;
    padding-top:12px;
}

.courseDetailTitleLable{
    margin-left:10px;
    color: #6F7082
}

.courseName,.courseSchoolName,.addCourseDate,.courseHours,.courseMoney,.courseValidDate{
    margin-left:10px;
    color: #007fff;
}


/*
.yunmo th {
    padding: 10px;
    text-align: left;
    //background-color: mintcream;
    background-color: seashell;
}
*/
