<!DOCTYPE html>
<html>
<head>
<title>助教宝-管理后台</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="baidu-site-verification" content="elXuCAMAW3">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/main_top.css">
<script type="text/javascript" src="../../static/js/main_top.js"></script>
</head>

<body style="background-color: #fff;">
<div class="admin-notify admin-notify-none">
  <p class="admin-notify-content"> </p>
</div>
<header class="back clearfix">
  <div class="logo"> <a href="javascript:void(0);" onclick="refresh()" class="clearfix"> <span class="logoimg"></span></a></div>
  <div class="click-div1"><span class="click-div1">尊敬的XXXX，欢迎您</span></a></div>
  <div class="account clearfix">
    <ul class="goFront item clearfix">
    	<li> <a href="javascript:void(0);" onclick="refresh()"> 刷新 </a> </li>
      <li> <a href="index.html"> 首页 </a> </li>
      <li> 咨询热线：0571-86571967</li>
    </ul>
  </div>
</header>
</body></html>